<table class="table table-hover">
  <thead>
    <tr>
      <th>Spelnaam</th>
      <th>Spelstatus</th>
      <th>Aangemaakt door</th>
      <th>Spel start</th>
      <th>Spel einde</th>
      <th>Acties</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let game of gamesList">
      <td>{{ game.gameTemplate.id }} ({{ game.players.length }} / {{ game.maxPlayers }})</td>
      <td>{{ game.state }}</td>
      <td>{{ game.createdBy.name }}</td>
      <td>{{ game.startedOn | date:"short" }}</td>
      <td>{{ game.endedOn | date:"short" }}</td>
      <td></td>
    </tr>
  </tbody>
</table>
