<div class="row">
  <div class="col-sm-12">
    <h3>My Games</h3>

    <app-games-overview
      [gamesList]="gamesList | games:null:username:username"
      (removeGame)="onGameRemoved($event)"
      (removePlayer)="onPlayerRemoved($event)"
      (openGame)="onGameOpened($event)"
      (addPlayer)="onPlayerAdded($event)">
    </app-games-overview>

    <button class="btn btn-success pull-right" routerLink="/games/create">Maak een spel</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3>Other games</h3>
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group">
          <label routerLink="/games" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="btn btn-primary">Toon alles</label>
          <label routerLink="/games" fragment="open" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="btn btn-primary">Open voor deelname</label>
          <label routerLink="/games" fragment="playing" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="btn btn-primary">Nu actief</label>
          <label routerLink="/games" fragment="finished" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="btn btn-primary">Door jou gespeeld</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <app-games-overview
          [gamesList]="gamesList | games:currentFilter:null:playedByUserFilter"
          (removeGame)="onGameRemoved($event)"
          (removePlayer)="onPlayerRemoved($event)"
          (openGame)="onGameOpened($event)"
          (addPlayer)="onPlayerAdded($event)">
        </app-games-overview>
      </div>
    </div>
  </div>
</div>
