<hr>
<div class="row">
  <div class="col-lg-4 col-md-5" *ngFor="let stat of stats">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{ stat.userName }}</h3>
        <h5 style="color: gray;">Totaal: {{ stat.matches.length }} matches</h5>
        <hr>
        <div style="display:inline-block;" *ngFor="let match of stat.matches">
          <div style="float: right; margin: 25px 30px"><h4>{{ match.match.foundOn | date:'short' }}</h4></div>
          <div class="tile {{ match.tile.suit }}-{{ match.tile.name }}" style="float: right;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
