/* You can add global styles to this file, and also import other style files */
@import "basestyle";
.light-theme {

  h1 {
    color: black;
  }

  a {
    font-variant: normal;
  }

  p {
    font-size: 20px;
  }

}
